@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
:root {
  --margin-unit: 12px;
  /* --sop-color: hsl(180,50%,80%);
  --alt-color: hsl(270,50%,80%);
  --ten-color: hsl(0,50%,80%);
  --bas-color: hsl(90,50%,80%); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IM Fell English', serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.conteneur {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 2*var(--margin-unit));
  width: calc(100vw - 2*var(--margin-unit));
  margin: var(--margin-unit);
  z-index: 999;
}

/*------------partoche------------*/
#partoche {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
#pages {
  transform: translateY(0) ;
  transition-property: transform;
  transition-duration: .5s;
}
#pages img {
  display: block;
  box-shadow: inset 0 0 0 1px grey;
}
.cadre {
  border: 1px solid black;
  box-shadow: 0 0 0 2px white,
              0 0 0 5px black;
}

/*------------menu------------*/
#menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  transition-property: transform, box-shadow;
  transition-duration: .8s;
  transform: translateY(100%);
  overflow-y: auto;
}
#menu.visible {
  box-shadow: 0 -1px 10px black;
  transform: translateY(0);
}
#menu p {
  font-size: 1.5rem;
  line-height: 2em;
  width: 100%;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
#menu p:hover {
  background-color: #eee;
}

/*------------flèches------------*/
.fleche {
  color: white;
  font-size: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 33%;
  opacity: 0;
}
#flechegauche {
  left: 0;
  background: linear-gradient(to right, grey, transparent);
}
#flechedroite {
  right: 0;
  background: linear-gradient(to left, grey, transparent);
}
#flechegauche:hover, #flechedroite:hover {
  cursor: pointer;
}
/* .flecheanimation {
  animation-duration: .5s;
  animation-name: flash;
}
@keyframes flash {
  from {
    opacity: .75;
  } 
  to {
    opacity: 0;
  }
} */

/*------------lecteur------------*/
#lecteur {
  position: relative;
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  margin-top: calc(3px + var(--margin-unit));
  overflow-x: auto;
  overflow-y: hidden;
}
#play-group, #menu-group {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  width: 60px;
}
#arrows-group {
  width: 80px;
  margin-left: 6px;
  display: flex;
  line-height: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#main-group {
  flex-grow: 1;
  margin: 0 var(--margin-unit);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------boutons------------*/
button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
}
#play-group button, #menu-group button {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
#arrows-group button {
  height: 37px;
  width: 37px; 
}
#backwardBtn, #forwardBtn {
  margin-bottom: 5px;
}
.paused {
  background-image: url(../img/svg-imfell/playW.svg);
}
.playing {
  background-image: url(../img/svg-imfell/pauseW.svg);
}
.paused:hover {
  background-image: url(../img/svg-imfell/playB.svg);
}
.playing:hover {
  background-image: url(../img/svg-imfell/pauseB.svg);
}
.disabled {
  opacity: 0.33;
}
#backwardBtn {
  background-image: url(../img/svg-imfell/backwardW.svg);
}
#backwardBtn:hover {
  background-image: url(../img/svg-imfell/backwardB.svg);
}
#forwardBtn {
  background-image: url(../img/svg-imfell/forwardW.svg);
}
#forwardBtn:hover {
  background-image: url(../img/svg-imfell/forwardB.svg);
}
#previousMarkerBtn {
  background-image: url(../img/svg-imfell/prevmarker.svg);
}
#previousMarkerBtn:hover {
  background-image: url(../img/svg-imfell/prevmarkerBB.svg);
}
#nextMarkerBtn {
  background-image: url(../img/svg-imfell/nextmarker.svg);
}
#nextMarkerBtn:hover {
  background-image: url(../img/svg-imfell/nextmarkerBB.svg);
}
#stopBtn {
  background-image: url(../img/svg-imfell/stopW.svg);
  margin-right: 0;
}
#menuBtn {
  background-image: url(../img/svg-imfell/menuW.svg);
  margin-right: 0;
}
#stopBtn:hover {
  background-image: url(../img/svg-imfell/stopB.svg);
}
#menuBtn:hover {
  background-image: url(../img/svg-imfell/menuB.svg);
}

/*------------titre------------*/
#titre {
  position: relative;
  flex-grow: 0;
  font-size: 24px;
  white-space: nowrap;
  overflow: visible; /* permet d'afficher les marqueurs, qui débordent*/
  text-overflow: ellipsis; /* https://css-tricks.com/flexbox-truncated-text/ */
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/*------------markers------------*/
.marker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent black transparent;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%) translateY(1px);
}
.marker-text {
  font-size: 12px;
  transform: translateX(-4px) translateY(4px);
}

/*------------masque------------*/
#masque {
  display: none;
  font-size: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: white;
  color: white;
  animation: pulse 1.5s infinite alternate;
  animation-timing-function: ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
}
@keyframes pulse {
  0% { color:white; }
  100% {color:black;}
}


/*---------à la fin---------*/
.invisible {
  display: none;
}
