@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
:root {
  /* --margin-unit: 12px; */
  --sop-color: hsl(180,50%,80%);
  --alt-color: hsl(270,50%,80%);
  --ten-color: hsl(0,50%,80%);
  --bas-color: hsl(90,50%,80%);
}

/*------------stabilo------------*/
.stabilo {
  position: absolute;
  display: block;
  background-color: transparent;
  opacity: 0.4;
  width: 100%;
  transform: translateY(-50%);
}
.sop {
  background-color: var(--sop-color);
}
.alt {
  background-color: var(--alt-color);
}
.ten {
  background-color: var(--ten-color);
}
.bas {
  background-color: var(--bas-color);
}

/*------------titre------------*/
#titre {
  /* position: relative;
  flex-grow: 0;
  font-size: 24px;
  white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis; /* https://css-tricks.com/flexbox-truncated-text/ */
  height: 35px;
  /* display: flex;
  align-items: center;
  padding-left: 13px;
  border-bottom: 1px solid black; */
  margin-bottom: 13px;
}

/*------------mixer------------*/
#mixer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transform: translateY(-1px);
}
#mixer label {
  font-size: 18px;
  font-variant: small-caps;
  border: 1px solid black;
  padding: 2px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#mixer label:first-of-type {
  margin-left: 0;
}
#mixer label:last-of-type {
  margin-right: 0;
}
label[data-voice*="sop"].checked {
  background-color: var(--sop-color);
}
label[data-voice*="alt"].checked {
  background-color: var(--alt-color);
}
label[data-voice*="ten"].checked {
  background-color: var(--ten-color);
}
label[data-voice*="bas"].checked {
  background-color: var(--bas-color);
}
label[data-voice*="sop"]:hover {
  box-shadow: inset 0 0 0 3px var(--sop-color);
}
label[data-voice*="alt"]:hover {
  box-shadow: inset 0 0 0 3px var(--alt-color);
}
label[data-voice*="ten"]:hover {
  box-shadow: inset 0 0 0 3px var(--ten-color);
}
label[data-voice*="bas"]:hover {
  box-shadow: inset 0 0 0 3px var(--bas-color);
}

/*------------markers------------*/
.marker {
  border-width: 0 3px 3px 3px;
}
.marker-text {
  font-size: 10px;
}

/*---------à la fin---------*/
.invisible {
  display: none;
}
