#pages {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: calc(2 * var(--margin-unit));
}
#pages * {
  font-family: "Alegreya Sans";
}
.tranche {
  height: 100%;
  padding: var(--margin-unit);
  padding-top: calc(2 * var(--margin-unit));
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.solo-mute-btns {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  margin: var(--margin-unit) 0;
  width: 84px;
  margin: 6px auto;
}
.solo-mute-btns button {
  height: 38px;
  width: 38px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
}
.slider-wrapper {
  height: calc(100% - 93px);
  background-image: repeating-linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 10%
  );
}
.slider-scale {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  background-color: white;
}
.volume-slider {
  height: 100%;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 10px;
  transform: translateY(-6px);
}

.tranche p {
  /* background-color: tomato; */
  /* padding: var(--margin-unit); */
  font-size: 1.15rem;
  text-transform: uppercase;
}
button.solo-btn {
  border-color: var(--accent);
  color: var(--accent);
}
button.mute-btn {
  border-color: hsl(7, 66%, 55%);
  color: hsl(7, 66%, 53%);
}
button.solo-btn:hover {
  background-color: hsl(45, 100%, 95%);
}
button.mute-btn:hover {
  background-color: hsl(7, 66%, 97%);
}
button.solo-btn.soloed {
  background-color: var(--accent);
  color: white;
}
button.mute-btn.muted {
  background-color: hsl(7, 66%, 55%);
  color: white;
}
button.solo-btn.soloed:hover,
button.mute-btn.muted:hover {
  opacity: 0.9;
}

.inaudible .slider-wrapper,
.inaudible label,
.inaudible p
 {
  opacity: 0.3;
}
