:root {
  /* --margin-unit: 12px; */
  --sop-color: hsl(180, 50%, 80%);
  --sop-color-light: hsl(180, 50%, 80%, 0.3);
  --alt-color: hsl(270, 50%, 80%);
  --alt-color-light: hsl(270, 50%, 80%, 0.3);
  --ten-color: hsl(0, 50%, 80%);
  --ten-color-light: hsl(0, 50%, 80%, 0.3);
  --bas-color: hsl(90, 50%, 80%);
  --bas-color-light: hsl(90, 50%, 80%, 0.3);
}

/*------------stabilo------------*/
.stabilo {
  position: absolute;
  display: block;
  background-color: transparent;
  opacity: 0.4;
  width: 100%;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
}
.sop {
  background-color: var(--sop-color);
}
.alt {
  background-color: var(--alt-color);
}
.ten {
  background-color: var(--ten-color);
}
.bas {
  background-color: var(--bas-color);
}

/*------------titre------------*/
#titre {
  /* position: relative;
  flex-grow: 0;
  font-size: 24px;
  white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis; /* https://css-tricks.com/flexbox-truncated-text/ */
  height: 35px;
  /* display: flex;
  align-items: center;
  padding-left: 13px;
  border-bottom: 1px solid black; */
}

/*------------mixer------------*/
#mixer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 30px;
}
#mixer label {
  /* font-size: 18px;
  font-variant: small-caps;
  border: 1px solid black;
  padding: 2px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer; */
  font-size: 15px;
  height: 28px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 2px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  font-family: "Alegreya Sans";
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-variant-numeric: lining-nums;
}
#mixer label:first-of-type {
  margin-left: 0;
}
#mixer label:last-of-type {
  margin-right: 0;
}
label[data-voice*="sop"].checked,
label[data-voice*="sop"].checked:hover {
  background-color: var(--sop-color);
}
label[data-voice*="alt"].checked,
label[data-voice*="alt"].checked:hover {
  background-color: var(--alt-color);
}
label[data-voice*="ten"].checked,
label[data-voice*="ten"].checked:hover {
  background-color: var(--ten-color);
}
label[data-voice*="bas"].checked,
label[data-voice*="bas"].checked:hover {
  background-color: var(--bas-color);
}
label[data-voice*="sop"]:hover {
  background-color: var(--sop-color-light);
}
label[data-voice*="alt"]:hover {
  background-color: var(--alt-color-light);
}
label[data-voice*="ten"]:hover {
  background-color: var(--ten-color-light);
}
label[data-voice*="bas"]:hover {
  background-color: var(--bas-color-light);
}

/*------------markers------------*/
/* .marker {
  border-width: 0 3px 3px 3px;
} */
.marker-text {
  font-size: 10px;
}

/*---------à la fin---------*/
.invisible {
  display: none;
}
