@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'IM Fell English', serif;
    font-weight: 400;
}
.conteneur {
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin: 3vh;
}
.partoche {
    position: relative;
    height: 500px;
    overflow: hidden;
}
.cadre {
    width: 1000px;
    margin: 10px auto 20px;
    border: 1px solid black;
    box-shadow: 0 0 0 2px white,
                0 0 0 5px black;
}
.pages {
    transform: translateY(0) ;
    transition-property: transform;
    transition-duration: .5s;
}
.pages img {
    border-bottom: 1px solid black;
}
.lecteur {
    position: relative;
    height: 120px;
    border: 1px solid black;
}
button {
    position: absolute;
    border: none;
    width: 30px;
    height: 30px;
    top: 12px;
}
.play {
    left: 12px;
    background: url(img/playW.svg);
}
.play:hover {
    background: url(img/play.svg);
}
.pause {
    left: 12px;
    background: url(img/pauseW.svg);
}
.pause:hover {
    background: url(img/pause.svg);
}
#stop {
    left: 44px;
    background: url(img/stopW.svg);
}
#stop:hover {
    background: url(img/stop.svg);
}
#prev {
    right: 44px;
    background: url(img/prevW.svg);
}
#next {
    right: 12px;
    background: url(img/nextW.svg);
}
#prev:hover {
    background: url(img/prev.svg);
}
#next:hover {
    background: url(img/next.svg);
}
.boutons h2 {
    position: absolute;
    display: inline-block;
    width: 840px;
    height: 30px;
    top: 13px;
    left: 80px;
    overflow: hidden;
}
#progression {
    position: absolute;
    width: 958px;
    height: 30px;
    border-bottom: 1px solid black;
    top: 54px;
    left: 21px;
}
#curseur {
    position: absolute;
    height: 30px;
    width: 18px;
    top: 54px;
    left: 12px;
    /* max 970px */
    background-image: url(img/hand.svg);
}
#temps {
    position: absolute;
    font-size: 20px;
    bottom: 7px;
    left: 21px;
    width: 958px;
    display: flex;
    justify-content: space-between;
}
.delimiteurRegion {
    position: absolute;
    height: 5px;
    top: 25px;
    border-right: 1px solid black;
}
.playlist {
    width: 1000px;
    margin: 10px auto 20px;
    padding-left: 12px;
}
.playlist a {
    font-size: 18px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
.playlist a:hover {
    color: black;
    text-decoration: underline;
}