@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
:root {
  --margin-unit: 20px;
  --sop-color: hsl(180,50%,80%);
  --alt-color: hsl(270,50%,80%);
  --ten-color: hsl(0,50%,80%);
  --bas-color: hsl(90,50%,80%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IM Fell English', serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.conteneur {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: calc(100vh - 2*var(--margin-unit));
  width: calc(100vw - 2*var(--margin-unit));
  margin: var(--margin-unit);
  z-index: 999;
  /* border : 1px solid red; */
}
#partoche {
  position: relative;
  width: 100%;
  flex-grow: 999;
  overflow: hidden;
}
/* #list {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: tan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#list p {
  font-size: 2vh;
  line-height: 2em ;
  width: 100%;
  text-align: center;
}
#list p:hover {
  background-color: white;
} */
#pages {
  transform: translateY(0) ;
  transition-property: transform;
  transition-duration: .5s;
}
#pages img {
  display: block;
  box-shadow: inset 0 0 0 1px grey;
}
.stabilo {
  position: absolute;
  display: block;
  background-color: transp;
  opacity: 33%;
  width: 100%;
}
.invisible {
  display: none;
}
.sop {
  border-bottom: 10px solid var(--sop-color);
  box-shadow: 0 10px var(--sop-color);
}
.alt {
  border-bottom: 10px solid var(--alt-color);
  box-shadow: 0 10px var(--alt-color);
}
.ten {
  border-bottom: 10px solid var(--ten-color);
  box-shadow: 0 10px var(--ten-color);
}
.bas {
  border-bottom: 10px solid var(--bas-color);
  box-shadow: 0 10px var(--bas-color);
}
#lecteur {
  height: 100px; /* === Hardcoded height === */
  width: 100%;
  flex-shrink: 0;
  margin-top: var(--margin-unit);
  overflow: hidden;
}
.cadre {
  border: 1px solid black;
  box-shadow: 0 0 0 2px white,
              0 0 0 5px black;
}
.btn-group {
  display: flex;
  flex-wrap: nowrap;
}
#boutons {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  background-color: white;
  margin: calc(var(--margin-unit) / 2);
}
#boutons button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-right: 3px;
}
.paused {
  background-image: url(svg/playW.svg);
}
.playing {
  background-image: url(svg/pauseW.svg);
}
.paused:hover {
  background-image: url(svg/playB.svg);
}
.playing:hover {
  background-image: url(svg/pauseB.svg);
}
.disabled {
  opacity: 33%;
}
#prevBtn {
  background-image: url(svg/prevW.svg);
}
#nextBtn {
  background-image: url(svg/nextW.svg);
}
#stopBtn {
  background-image: url(svg/stopW.svg);
  margin-right: 0;
}
#prevBtn:hover {
  background-image: url(svg/prevB.svg);
}
#nextBtn:hover {
  background-image: url(svg/nextB.svg);
}
#stopBtn:hover {
  background-image: url(svg/stopB.svg);
}
#titre {
  flex-grow: 1;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* https://css-tricks.com/flexbox-truncated-text/ */
  user-select: none;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 6px 0 3px;
  padding-left: 0.5em;
  border-bottom: 1px solid black;
  /* background-image: linear-gradient(to right, rgb(213, 188, 238) 50%, #fff 0); */
  /* Juste besoin de faire varier ce poucentage pour avoir une barre de progression */
}
/* .temps {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--margin-unit) / 2);
} */
/* .progression {
  position: absolute;
  background-color: black;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  opacity: .33;
} */
#mixer {
  display: flex;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  margin: calc(var(--margin-unit) / 2);
  font-size: 1.12rem;
  white-space: nowrap;
}
#mixer input {
  margin-right: .3rem;
}
/* input[type="checkbox"] {
  position: absolute;
  opacity: 0;
} */
#mixer label {
  border: 1px solid black;
  padding: 3px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .checked {
  color: white;
  background-color: black;
} */
label[data-voice*="sop"].checked {
  background-color: var(--sop-color);
}
label[data-voice*="alt"].checked {
  background-color: var(--alt-color);
}
label[data-voice*="ten"].checked {
  background-color: var(--ten-color);
}
label[data-voice*="bas"].checked {
  background-color: var(--bas-color);
}
label[data-voice*="sop"]:hover {
  border: 1px solid var(--sop-color);
}
label[data-voice*="alt"]:hover {
  border: 1px solid var(--alt-color);
}
label[data-voice*="ten"]:hover {
  border: 1px solid var(--ten-color);
}
label[data-voice*="bas"]:hover {
  border: 1px solid var(--bas-color);
}
#currentTime {
  width: 6em;
}
@media screen and (max-width: 800px) {
  #boutons button {
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    margin: 1px;
  }
  #titre {
  /* flex-grow: 1;
  flex-shrink: 1; */
  font-size: 1rem;
  height: 30px;
  }
  #mixer {
    height: 30px;
    font-size: .9rem;
  }
  #lecteur {
    height: 90px; /* === Hardcoded height === */
    width: 100%;
    margin-top: var(--margin-unit);
  }
}
@media screen and (min-aspect-ratio: 3/2) {
  .conteneur {
    flex-direction: row;
  }
  #lecteur {
    display: flex;
    width: calc(83px + var(--margin-unit));
    height: calc(100vh - 2*var(--margin-unit));
    margin-top: 0;
    margin-left: var(--margin-unit);
    flex-direction: column;
    align-content: stretch;
    overflow-y: auto;
  }
  #boutons {
    flex-direction: column;
    /* flex-grow: 1; */
    margin-bottom: 0;
  }
  #boutons button {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    margin: 3px;
  }
  #titre {
    width: 83px;
    padding-left: 0;
    height: unset;
    white-space: unset;
    border-bottom: none;
  }
  #mixer {
    flex-wrap: wrap;
    height: unset;
    margin-top: 0;
  }
  #mixer label {
    overflow: hidden;
  }
}